<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title - My ASP.NET MVC Application</title>
		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		@*Styles.Render("~/Content/reset.css")*@
		@*Scripts.Render("~/bundles/modernizr")*@

		<style>
			div {
				font-family: Verdana;
				font-size: 1.0em;

				//border: 1px solid red;
			}

			button {
				font-family: Verdana;
				font-size: 1.2em;
				color: #fff;
				padding: 10px;
				border: none;
				background-color: #2AACE3;
			}


			.header {
				margin: 10px;
			}
			.header a {
				margin: 0 20px 0 20px;
				text-decoration: none;
				font-family: Verdana;
				font-size: 1.2em;
				color: #8EBCDE;
			}
			.user-info {
				background-color: #F2F2F2;
			}
			.user-name {
				float: left;
				padding: 5px;
			}
			.user-point {
				float: right;
				padding: 10px;
				background-color: #BDCDD3;
				color: #fff;
				font-family: Verdana;
				font-size: 1.6em;
				font-weight: bold;
			}
			.main-content-area {
				padding: 25px;
			}






			.image-select-container {
				text-align: center;
			}
			.image-container {
				margin: 0 auto;
				width: 50%;
			}
			.guess-image {
				float: left;
				width: 40%;
				height: 150px;
				background-color: #ccc;
				border: none;
				margin: 5%;
			}



			.record-section {
				background-color: #F2F2F2;
				padding: 20px;
			}
			.record-button-container {
				float: left;
				padding-right: 20px;
			}
			.read-sentence {
				font-size: 1.2em;
				line-height: 1.5em;
			}
			.record-result-section {
				margin-top: 5px;
				font-size: 1.2em;
				line-height: 1.5em;
				padding: 20px;
				background-color: #F1FCFF;
			}



			.clear-both {
				clear: both;
			}

			/*****************/
			.info-bar {
				margin-top: 1px;
				background-color: #F2F2F2;
			}
			.info-block {
				text-align: center;
				float: left;
				padding: 5px 10px 5px 10px;
				margin-right: 1px;
			}
			.small-title {
				font-size: 0.6em;
			}
			.point-number {
				font-size: 1.4em;
				font-weight: bold;
			}

		</style>
    </head>
    <body>
		<!--
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
		-->

	@if (!Request.IsAuthenticated)
	{
		<div class="header">
			<a href="@Url.Action("index", "home")"><img src="~/images/icon_app.png" align="center" /></a>
			<a href="@Url.Action("index", "guess")">Guess</a>
			<a href="@Url.Action("index", "game")">Create Game</a>
			<a href="@Url.Action("index", "scoreboard")">Scoreboard</a>
		</div>

		<!-- user name, flag, and point -->
		@Html.Partial("~/views/shared/_UserInfoPartial.cshtml")

		@Html.Partial("~/views/shared/_GameInfoPartial.cshtml")
	}


		<!-- <div id="body"> -->


            @RenderSection("featured", required: false)

			<!-- <section class="content-wrapper main-content clear-fix"> -->
			<div class="main-content-area">
				@RenderBody()
			</div>
                
			
			<!-- </section> -->

        
		<!-- </div> -->

		<!--
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
		-->

        @*Scripts.Render("~/bundles/jquery")*@
        @*RenderSection("scripts", required: false)*@
    </body>
</html>
